<div class="theme-detail">
    <div class="row">
        <div class="col-lg-6">
            <h4>Basic information</h4>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{ theme.name }}</dd>
                <dt>Friendly name</dt>
                <dd>{{ theme.information.name }}</dd>
                <dt>Description</dt>
                <dd>{{ theme.information.description|default('empty')|raw }}</dd>
                <dt>Is virtual</dt>
                <dd>{{ theme.themes is defined ? 'yes' : 'no' }}</dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <h4>Tags</h4>
            {% for tag in theme.tags %}
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ tag.name }}</dd>
                </dl>
            {% else %}
                <p>There is no any tag for the theme.</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Authors</h4>
            {% for author in theme.information.authors %}
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ author.name }}</dd>
                    <dt>Email</dt>
                    <dd>{{ author.email }}</dd>
                    <dt>Homepage</dt>
                    <dd><a href="{{ author.homepage }}" target="_blank">{{ author.homepage }}</a></dd>
                </dl>
            {% else %}
                <p>There is no any defined author for the theme.</p>
            {% endfor %}
        </div>
    </div>
</div>