{% extends '::layout.html.twig' %}

{% block body %}
<div>
    <h4>Change theme</h4>
    <p>The available themes for the environment <b>{{ environment }}</b></p>
    <div class="row">
        <div class="col-xs-6 col-lg-6">
            {{ form_start(form, { 'attr': { 'role': 'form', 'class': 'form-inline' } }) }}
            <div class="form-group">
                {{ form_widget(form.theme, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.theme) }}
            </div>
            {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-success' } }) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
<div>
    <h4>Current theme details</h4>
    <p>Here you can read some information about the current theme.</p>
    {% include 'JungiEnvironmentBundle:Theme:theme-details.html.twig' %}
</div>
{% endblock %}
